<h2>Add tasks to <%= @workshop.title %></h2>
<%= form_for @workshop do |f| %>
<%# collection_check_boxes(object, method, collection, value_method, text_method, options = {}, html_options = {}, &block) %>
  <%= f.collection_check_boxes(:task_ids, @tasks, :id, :title) %>
  <%= f.submit %>
<% end %>