<div class="workshops">
<h2>My workshops</h2>
<ul class="private-workshops">
    <li>
        <%= link_to new_workshop_path, class: "workshop-tile new-workshop" do %>
            <div class="create-symbol">+</div>
            <p>Add a workshop</p>
        <% end %>
    </li>
    <% @workshops.each do |workshop| %>
        <li>
            <%= link_to workshop_path(workshop.id), class: "workshop-tile"  do %>
                <strong><%= workshop.title %></strong>
                <p><%= workshop.description %></p>
            <% end %>
        </li>
    <% end %>
    <li class="filling-empty-space-childs"></li>
    <li class="filling-empty-space-childs"></li>
</ul>
</div>