/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* VARIABLES */
:root {
    /* Fonts */
    --heading-font: Poppins, sans-serif;
    --body-font: sans-serif;
    
    --bold: 600;

    /* Colours */
    --background-colour: rgb(242,242,247);;
    --hover-colour: white;
    --link-colour: dimgrey;
    --primary-colour: black;

    /* Borders */
    --card-border: 4px solid white;

    /* Border-radius */
    --button-radius: 4px;
    --input-radius: 4px;
    --tile-radius: 8px;

    /* Shadows */
    --tile-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

    /* Dimensions */
    --body-max-width: 960px;
    --tile-width: 210px;
    --form-width: 343px;
    --button-width: 343px;
    
    /* Padding */
    --footer-padding: 48px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
}

body {
    background-color: var(--background-colour);
    font-family: var(--body-font);
}

h1, h2 {
    font-family: var(--heading-font);
}

/* POSITION MAIN SECTIONS */
#wrapper {
    height: 100vh;
    margin: 0 auto;
    max-width: var(--body-max-width);
    display: grid;
    grid-template-rows: 0.25fr 1fr auto;
    grid-gap: 12px;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    /* align-self: left; */
    font-size: 20px;
}

footer {
    grid-area: footer;

    display: flex;
    justify-content: center;
    padding: var(--footer-padding);
}

/* Navigation */
nav {
    margin: 48px;
}

nav ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
}

nav li {
    display: inline;
    padding: 12px;
    margin-left: 4px;
    transition: background-color 0.4s ease;
}

nav li:hover {
    background-color: var(--hover-colour);
}

nav a {
    color: var(--link-colour);
    text-decoration: none;
}

nav a:hover {
    text-decoration-line: underline;
}

/* Prevent hover affect from being applied to user name */
#greeting-user:hover {
    background-color: var(--background-color);
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 32px;
    text-decoration: none;
}

#logo a {
    text-decoration: none;
    color: var(--primary-colour);
}

/* Buttons */
.button-link {
    height: 48px;
    width: var(--button-width);
    cursor: pointer;
    border-radius: var(--button-radius);
    border: 0px;
    font-size: large;
}


.primary-button {
    background-color: var(--primary-colour);
    color: white;
}

/* FORMS */
form input {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    width: var(--form-width);
    height: 48px;
    border: 2px solid;
    border-color:var(--primary-colour);
    border-radius: var(--input-radius);
    padding: 12px;
    font-size: 16px;
    margin-bottom: 24px;
}

label {
    margin-bottom: 12px;
    line-height: 24px;
}

/* Tiles */
.private-workshops {
    list-style-type: none;

    max-width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.workshop-tile {
    background-color: white;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-align: left;
    color: var(--primary-colour);
    text-decoration: none;

    border: var(--card-border);
    border-radius: var(--tile-radius);
    box-shadow: var(--tile-shadow);

    display: block;
    width: var(--tile-width);
    height: 130px;

    margin: 8px;
    padding: 12px;

    transition: all 0.2s ease-in-out;
}

.new-workshop {
    display: inline-block;
    text-align: center;
}

.create-symbol {
    font-size: 56px;
}

.filling-empty-space-childs {
    display: block;
    width: 210px;
    height: 0px;
    margin: 8px;
}

.workshop-tile:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}