/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* VARIABLES */
:root {
    /* Fonts */
    --heading-font: Poppins, sans-serif;
    --body-font: sans-serif;
    
    --bold: 600;

    /* Colours */
    --background-colour: rgb(242,242,247);
    --hover-colour: rgba(0, 0, 0, 0.05);
    --link-colour: dimgrey;
    --primary-colour: black;

    /* Borders */
    --card-border: 4px solid white;

    /* Border-radius */
    --button-radius: 4px;
    --input-radius: 4px;
    --tile-radius: 8px;

    /* Shadows */
    --tile-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

    /* Dimensions */
    --body-max-width: 800px;
    --tile-width: 210px;
    --form-width: 343px;
    --button-width: 343px;
    
    /* Padding */
    --footer-padding: 48px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
}

body {
    background-color: var(--background-colour);
    font-family: var(--body-font);
    
}

h1, h2 {
    font-family: var(--heading-font);
}

/* POSITION MAIN SECTIONS */
#wrapper {
    height: 100vh;
    max-width: var(--body-max-width);
    margin: 0 auto;

    display: grid;
    grid-template-rows: 0.25fr 1fr auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    margin: 0 auto;
}

footer {
    grid-area: footer;
    padding: var(--footer-padding);
    display: flex;
    justify-content: center;
}

/* Navigation */
nav {
    margin: 48px;
}

nav ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
}

nav li {
    display: inline;
    padding: 12px;
    margin-left: 4px;
    transition: background-color 0.4s ease;
}

nav li:hover {
    background-color: var(--hover-colour);
    border-radius: var( --button-radius);
}

nav a {
    color: var(--link-colour);
    text-decoration: none;
}

nav a:hover {
    text-decoration-line: underline;
    color: black;
}

/* Prevent hover affect from being applied to user name */
#greeting-user:hover {
    background-color: var(--background-color);
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 32px;
    text-decoration: none;
}

#logo a {
    text-decoration: none;
    color: var(--primary-colour);
}

/* Buttons */
.button-link {
    height: 48px;
    width: var(--button-width);
    cursor: pointer;
    border-radius: var(--button-radius);
    border: 0px;
    font-size: large;
}

.primary-button {
    background-color: var(--primary-colour);
    color: white;
}

/* FORMS */
form input {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    width: var(--form-width);
    height: 48px;
    border: 2px solid;
    border-color:var(--primary-colour);
    border-radius: var(--input-radius);
    padding: 12px;
    font-size: 16px;
    margin-bottom: 24px;
}

label {
    margin-bottom: 12px;
    line-height: 24px;
}

.radio-button input {
    width: 24px;
    height: 24px;
}

.radio-button label {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    margin-left: 12px;
}

.tile-group {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.workshop-tile {
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-align: left;
    text-decoration: none;

    border: var(--card-border);
    border-radius: var(--tile-radius);
    box-shadow: var(--tile-shadow);

    display: block;
    width: var(--tile-width);
    height: 130px;

    margin: 8px;
    padding: 14px;

    color: dimgray;
    font-size: 14px;

    transition: all 0.2s ease-in-out;
}

.workshop-tile:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.new-workshop {
    text-align: center;
    color: dimgray;
    font-size: 16px;
}

.create-symbol {
    font-family: var(--heading-font);
    font-size: 52px;
}

.workshop-tile strong {
    line-height: 24px;
    color: var(--primary-colour);
    font-size: 16px;
}

.filling-empty-space-childs {
    display: block;
    width: 210px;
    height: 0px;
    margin: 8px;
}

.workshops, .workshop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-heading {
    color: dimgray;
    font-size: small;
    text-align: start;
    width: 80%;
}

.workshop-task {
    height: 100px;
    width: 80%;
    max-width: 960px;
    min-width: 343px;
    background-color: white;
    border-radius: var(--button-radius);

    color: var(--primary-colour);
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 24px;
    cursor: move;
}

.task-details {
    display: flex;
    justify-content: space-between;
    line-height: 32px;
}


.task-list {
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    color: var(--primary-colour);

    border: var(--card-border);
    border-radius: var(--tile-radius);
    box-shadow: var(--tile-shadow);

    display: block;
    width: 75%;

    margin: 8px;

}

.task-list ul {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    padding: 14px;
}

.description {
    color: dimgray;
    font-size: 14px;
}


/* Make checkboxes look like tiled buttons */
.checkbox-group {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.checkbox-label {
    display: block;
    width: var(--tile-width);
    height: 130px;
    margin: 8px;
}

.checkbox-text {
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-align: left;

    border: 2px solid white;
    border-radius: var(--tile-radius);
    box-shadow: var(--tile-shadow);

    display: block;
    width: 100%;
    height: 100%;

    padding: 14px;
}

/* Hide the checkbox square and tick */
.checkbox-label input {
    display: none;
}

.checkbox-label input:hover ~ .checkbox-text{
    border: 2px solid rgba(0, 0, 0, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}
.checkbox-label input:checked ~ .checkbox-text {
    border: 2px solid var(--primary-colour);
}


textarea {
    height: 100px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    width: var(--form-width);
    height: 80px;
    border: 2px solid;
    border-color:var(--primary-colour);
    border-radius: var(--input-radius);
    padding: 12px;
    font-size: 16px;
    margin-bottom: 24px;
    resize: vertical;

    font-family: var(--body-font);
}

.task-section-heading {
    color: dimgray;
    font-size: small;
    text-align: center;
}

.submit-button, .secondary-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    display : block;
}

.task-summary {
    background-color: white;
    padding: 24px;
    border-radius: var(--tile-radius);
    box-shadow: var(--tile-shadow);
    max-width: 500px;
}